// Importing necessary SCSS files
@import "src/scss/utils/variables";
@import "src/scss/components/button";
@import "src/scss/components/custom-toastr";

.layout-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  margin: 0;
  overflow-y: auto;
  background-color: $primary-white;
  height: 100vh;
}


.cards-sections {
  box-sizing: border-box;
  margin: 20vh 5vw 10vh 5vw;
  background-color: $primary-white;
  justify-items: center;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5vh;
}

