@import "src/scss/utils/variables";

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: $primary-black;
  color: $primary-white;
  padding: 10px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  gap: 1vw;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  img {
    height: 6vh;
    width: auto;
  }
}


.header-action-group {
  display: flex;
  gap: 3vw;
}

.header-logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap:15vw;
}

.header-action {
  color: $primary-white;
  font: normal normal 400 1vw Roboto, sans-serif;
  margin: 0 15px;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: $neon-orange;
  }
}

.logout-icon {
  cursor: pointer;
  font-size: 24px;
  padding: 8px;

  &:hover {
    color: $neon-orange;
  }
}
